{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="six columns">
        <img class="u-pull-right" src='static/pictures/Thief_concept_PoR_Unused.png' title="Assassins: 'Niles' and 'Severa'.">
        </div>

        <div class="six columns">
        <h3>Assassin</h3>
        <p><strong>Assassin:</strong> Sneaky and swift, Assassin's would rather pick your pocket than
                    engage in social contact. They blend into the shadows well, and the silver of their
                    swords "Killing Edges" will pierce your skin before you'd even know that they were
                    ever there. Suprisingly good with children. Almost emotionless, but have a weakness
                    towards kittens.</p>

        <br>
                    <p>
                    <strong>Name of Special:</strong> Swift Kill<br />
                    <strong>Triggered:</strong> When health is under 10<br />
                    <strong>Effect:</strong> Assassin deals the opponent 20 damage.</p>
        </div>
        <div class="row" id="outer">
                <form action='/valkyrie'>
                    <div class="two columns"><button class="button" style="vertical-align:middle"><span>Back </span></button>
                    </div>
                </form>
                <form action='/'>
                    <div class="two columns"><button class="button" style="vertical-align:middle"><span>Home </span></button>
                    </div>
                </form>
                <form action='/troubadour'>
                    <div class="two columns"><button class="button" style="vertical-align:middle"><span>Next </span></button>
                    </div>
                </form>
            </div>
    </div>
</div>
{% endblock %}