{% extends "base.html" %}
{% block body %}
<h3>Barbarian</h3>
<img src='static/pictures/Barbarian.png'>
<p><strong>Barbarian:</strong> While not known for their etiquette or intelligence, Barbarians
                are incredibly strong, can take damage well, and fight for those
                who cannot fight for themselves. They tend to favor "Killer Axes" that sometimes, when
                outnumbered or outmatched, allow them to call upon deceased warriors to strengthen the
                silver and sharpen the bit.
                Brash and well-liked, but easily tricked. Gentle Giants.</p>

<br>
                <p>
                <strong>Name of Special:</strong> Warrior's Spirit<br />
                <strong>Triggered:</strong> When Health is under 30<br />
                <strong>Effect:</strong> Low Atk is raised 10 points and High Atk is raised 15 points.</p>

{% endblock %}