<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Valor</title>
    <link rel="icon" href="static/pictures/ValorLogo.png" type="image/png">
    <link rel="stylesheet" href="/static/skeleton/css/normalize.css">
    <link rel="stylesheet" href="/static/skeleton/css/skeleton.css">
</head>

<body background="/static/pictures/ValorBackgroundFE.png">

    <body>
        <div class="container">
            <center><img src='static/pictures/NewValor.gif' title="This is the Valor Logo."></center>
            {% block body %} {% endblock %}
        </div>
    </body>

</html>