{% extends "base.html" %}
{% block body %}
<h3>Bishop</h3>
<img src='static/pictures/Bishop.png'>
<p><strong>Bishop:</strong> Men and Women of the cloth who, under divine light, rid the
            Earth of the unholy. Their weapons are their staves, engraved with a special mark at the bottom
            for each individual, with a unique jewel at the top.They are given to them
            when they mature, or when they first truly see the Divine Light. 
            Understanding and gentle. Tend to stay in one place.</p>

<br>
            <p>
            <strong>Name Of Special:</strong> Holy Ground<br />
            <strong>Triggered:</strong> When health is under 35<br />
            <strong>Effect:</strong> Bishop is healed 15 points.</p>
{% endblock %}
