{% extends "base.html" %}
{% block body %}
<h3>Cavalier</h3>
<img src='static/pictures/CavalierSeth.jpg'>
<p><strong>Cavalier:</strong> A gallant or chivalrous person, especially one serving as escort 
            to a Noble of high social position; They groom their horses often, and usually
            form a close bond with their equine partner. The strongest cavaliers eventually
            become Paladins and, in turn, can offer their blade to a Noble that they wish
            to keep from harm and will lay down their lives without hesitation.
            Well-Mannered and self sacrificing.</p>

<br>
            <p>
            <strong>Name of Special:</strong> Lucky Habits<br />
            <strong>Triggered:</strong> When health is under 25<br />
            <strong>Effect:</strong> Cavalier's Health and rage is raised by 10 each.</p>
{% endblock %}