{% extends "base.html" %} {% block body %}
<div class="container">
    <div class="row">
        <div class="six columns">
            <img class="u-pull-right" src='static/pictures/CavalierSharpNew.gif' title="Cavalier: 'Marcus'.">
        </div>

        <div class="six columns">
            <div class="row" id="outer">
                <form action='/noble'>
                    <div class="four columns"><button class="button" style="vertical-align:middle"><span>Back </span></button>
                    </div>
                </form>
                <form action='/'>
                    <div class="four columns"><button class="button" style="vertical-align:middle"><span>Home </span></button>
                    </div>
                </form>
                <form action='/general'>
                    <div class="four columns"><button class="button" style="vertical-align:middle"><span>Next </span></button>
                    </div>
                </form>
            </div>
            <div>
                <h3>Cavalier</h3>
                <p><strong>Cavalier:</strong> A gallant or chivalrous person, especially one serving as escort to a Noble of
                    high social position; They groom their horses often, and usually form a close bond with their equine
                    partner. The strongest cavaliers eventually become Paladins and, in turn, can offer their blade to a
                    Noble that they wish to keep from harm and will lay down their lives without hesitation. Well-Mannered
                    and self sacrificing.</p>

                <br>
                <p>
                    <strong>Name of Special:</strong> Lucky Habits<br />
                    <strong>Triggered:</strong> When health is under 25<br />
                    <strong>Effect:</strong> Cavalier's Health and rage is raised by 10 each.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}