{% extends "base.html" %}
{% block body %}
<h3>Dragonmaster</h3>
<img src='static/pictures/DRAGONMASTER.gif'>
<p><strong>Dragonmaster:</strong> The Dragonai tribe have lived in the Himalayas for centuries,
            and rarely leave their mountains often. As an exception, however, Dragonai who
            have bonded well with a particular dragon and show great skill in fighting depart
            from their home and go in search of great legends to fight, only to
            become legends themselves, the Dragonmasters.<br />They usually bond with one of five
            particular dragons:<br />
            <em>Chinese Fireball<br />
            Welsh Green<br />
            Hungarian Horntail<br />
            Swedish Short-Snout<br />
            Japanese Wind-Waker<br /></em></p>

<br>
            </p>
            <strong>Name of Special:</strong> Searing Spear<br />
            <strong>Triggered:</strong> When health is under 20<br />
            <strong>Effect:</strong> Dragonmaster's rage is raised by 5 and deals opponent 15 damage.</p>
{% endblock %}