{% extends "base.html" %} {% block body %}
<center>
    <h2>Congratulations, {{winner}}!<br> You won the game! </br>
    </h2>
    <table>
        <tr>
            <th></th>
            <th scope='col'>Health</th>
            <th scope='col'>Rage</th>
        </tr>
        <tr>
            <th scope='row'>{{game.choose_name1}}:</th>
            <td>{{game.Gladiator_1.health}}</td>
            <td>{{game.Gladiator_1.rage}}</td>
        </tr>
        <tr>
            <th scope='row'>{{game.choose_name2}}:</th>
            <td>{{game.Gladiator_2.health}}</td>
            <td>{{game.Gladiator_2.rage}}</td>
        </tr>
    </table>
    <form action='/'>
        <div class="twelve columns"><button class="button" style="vertical-align:bottom-right"><span>Back</span></button>
        </div>
    </form>
    <div class='bottom-right' class='container'>
        <audio autoplay>
            <source src="/static/skeleton/Themes/Victory!.mp3" type="audio/mpeg" loop='true'> Your Browser does not support the audio element selected for this website.
        </audio>
    </div>
</center>
{% endblock %}