{% extends "base.html" %}
{% block body %}
<h3>General</h3>
<img src='static/pictures/GeneralValor.png'>
<p><strong>General:</strong> Strong and unmoving, Generals command hoards of soldiers and perform
            very well at yelling commands. They are usually dressed in scores of badges and medals.
            They are rumored to move mountains if needed, and can fell a tree with one strike of
            their weapon. Sometimes Generals go on long, lone journeys to find strength again,
            in times of personal hardship, the length of which no one ever knows.
            Natural leaders. Usually are very loud and have laugh lines.</p>

<br>
            <p>
            <strong>Name of Special:</strong> Piercing Blows<br />
            <strong>Triggered:</strong> When health is under 20<br />
            <strong>Effect:</strong> General\'s High Atk raised by 10 and the opponent loses 10 health.</p>
{% endblock %}