{% extends "base.html" %}
{% block body %}
<h3>Noble</h3>
<img src='static/pictures/NobleEphraim.jpg'>
<p><strong>Noble:</strong> An honest hero of high birth and exalted rank. They attack with
            pure weapons of silver and gold, enchanted by Wizards to send the defender's
            souls to a better place. They can call upon their retainer if outmatched, and
            deliver a crushing blow to protect their lord/lady.
            Kind and open-minded.</p>

<br>
            <p>
            <strong>Name of Special:</strong> High Birth<br />
            <strong>Triggered:</strong> When health is under 25<br />
            <strong>Effect:</strong> Noble's Health is raised 5 points and the opponent is dealt 10 damage.</p>
{% endblock %}