{% extends "base.html" %} {% block body %}
<center>

    <body>
        <class='right'>
            <float: left>
                <p>{{phrase}}</p>
                </class>
                <br>
                <p>{{special}}</p>
                </class='left'>
                <table>
                    <tr>
                        <th></th>
                        <th scope='col'>Health</th>
                        <th scope='col'>Rage</th>
                    </tr>
                    <tr>
                        <th scope='row'>{{game.choose_name1}}:</th>
                        <td>{{game.Gladiator_1.health}}</td>
                        <td>{{game.Gladiator_1.rage}}</td>
                    </tr>
                    <tr>
                        <th scope='row'>{{game.choose_name2}}:</th>
                        <td>{{game.Gladiator_2.health}}</td>
                        <td>{{game.Gladiator_2.rage}}</td>
                    </tr>
                </table>

                {% if game.turn == 0 %}
                <h2>{{game.choose_name1}} ||| {{game.Gladiator_1.getName()}}:</h2>
                {% else %}
                <h2>{{game.choose_name2}} ||| {{game.Gladiator_2.getName()}}:</h2>
                {% endif %}

                <form action="/turn">
                    {% if attacker in [ 'Barbarian', 'Noble', 'Cavalier', 'General', 'Valkyrie', 'Assassin', 'Dragonmaster' ] %}
                    <p> What would you like to do?</p>
                    <select name='choice'>
            <option value='1'>Attack: 0 Rage Required.</option >
            <option value='2'>Apothecarys Satchel:10 Rage Required.</option >
            <option value='3'>Pass: 0 Rage Required.</option >
            <option value='4'>Pain Pack: 20 Rage Required.</option >
            <option value='5'>Quit</option >
       </select> {% else %}
                    <p>What would you like to do?</p>
                    <select name='choice'>
            <option value='1'>Cast Spell: 0 Magic Required.</option >
            <option value='2'>Heal: 10 Magic Required.</option >
            <option value='3'>Pass: 0 Magic Required.</option >
            <option value='4'>Pain Pack: 20 Magic Required.</option >
            <option value='5'>Quit</option >
        </select> {% endif %}

                    <div class="row" id="outer">
                        <!-- <form action="/">
                <div class="six columns"><button class="button" style="vertical-align:bottom-right"><span>Back</span></button>
                </div>
            </form> -->
                        <center>
                            <form action="/turn">
                                <div class="twelve columns"><button class="button" style="vertical-align:middle-right"><span>Go!</span></button>
                                </div>
                            </form>
                    </div>
                    </center>
                    <div class='bottom-right' class='container'>
                        <audio controls>
                            <source src="/static/skeleton/Themes/UltimateBattle.mp3" type="audio/mpeg" loop='true'> Your Browser does not support the audio element selected for this website.
                        </audio>
                    </div>
    </body>
</center>
{% endblock %}

</html>