{% extends "base.html" %} {% block body %}
<div class="container">
    <div class="row">
        <div class="six columns">
            <img class="u-pull-right" src='static/pictures/BiggerFiora.gif' title="Valkyrie: 'Fiora'.">
        </div>

        <div class="six columns">
            <h3>Valkyrie</h3>
            <p><strong>Valkyrie:</strong> Strong and wild, their victory cries echo throughout the skies and bring hope into
                the hearts of the innocent and fear into the hearts of the unholy. All Valkyrie's gather at Yggdrasil for
                leisure, and Asgard for times of war. Their soft eyes and smiles hide ferocity and passion. They treat their
                winged horses as family and talk to them as if they were human. Merciless and savage, yet beautiful.</p>

            <br>
            <p>
                <strong>Name of Special:</strong> Shrieking War Cry<br />
                <strong>Triggered:</strong> When health is under 30<br />
                <strong>Effect:</strong> Valkyrie's rage is raised by 10 and opponent is dealt 5 damage</p>

        </div>
        <div class="row" id="outer">
            <form action='/general'>
                <div class="two columns"><button class="button" style="vertical-align:middle"><span>Back </span></button>
                </div>
            </form>
            <form action='/'>
                <div class="two columns"><button class="button" style="vertical-align:middle"><span>Home </span></button>
                </div>
            </form>
            <form action='/assassin'>
                <div class="two columns"><button class="button" style="vertical-align:middle"><span>Next </span></button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}