{% extends "base.html" %}
{% block body %}
<h3>Wizard</h3>
<img src='static/pictures/WizardValor.png'>
<body>
<p><strong>Wizard:</strong> Drawing on the subtle weave of magic that permeates the cosmos, 
            wizards cast spells from elements such as explosive fire, arcing lightning and freezing rain.
            Their wands appear in their hands whenvever needed, and draw power from the strength of
            the caster's soul. Old Wizards are revered and respected as high members of society.
            Curious and wise.</p>

<br>

            <p>
            <strong>Name of Special:</strong> Aligned Skies<br />
            <strong>Triggered:</strong> When Health is under 20<br />
            <strong>Effect:</strong> Wizard's opponent is hurt by 15 points.</p>
</body>
{% endblock %}